<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.acgnu.xposed">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        <activity android:name="org.acgnu.ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
                android:name="org.acgnu.service.MaskService"
                android:enabled="true"
                android:exported="true"
                android:persistent="true">
        </service>

        <meta-data
                android:name="xposedmodule"
                android:value="true"/>
        <meta-data
                android:name="xposeddescription"
                android:value="自古真情留不住，唯有套路得人心"/>
        <meta-data
                android:name="xposedminversion"
                android:value="52"/>

        <activity android:name="org.acgnu.ui.StorageActivity">
            <intent-filter>
                <action android:name="org.acgnu.activity.applist" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>